<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="ddlRepositories" class="control-label col-sm-2">Repository</label>
            <div class="col-sm-4">
                <select name="ddlRepositories" id="ddlRepositories" class="form-control"
                    (change)="onRepositoryChanged($event.target.value)">
                    <option value="-1" selected disabled>Select a repository</option>
                    <option [value]="repo.name" *ngFor="let repo of repositories">{{ repo.name }}</option>
                </select>
            </div>
        </div>
    </div>
</div>